.keyboard{
    display: flex;
    justify-content: center;
    transform: translateY(300px);
}

.key{
    background-color: black;
    color: white;
}

#PLUS{
    margin-left: 2.7rem;
}
#num{
    margin-left: 2.7rem;
}
#num1{
    margin-left: .97rem;
}